# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://kpdusbhqiswdiyzdwxpw.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtwZHVzYmhxaXN3ZGl5emR3eHB3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg2MDUxMzQsImV4cCI6MjA3NDE4MTEzNH0.i5Zr4pKkbqRMiIaYO0yZflkgwKv2qPI5EBj6nQPmR5I
